.login_container {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    background: rgb(255, 255, 255);
    margin-top: 60px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(203, 108, 230, 1) 44%, rgba(207, 118, 232, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.login_component {
    margin: auto;
    height: 600px;
    width: 500px;
    background-color: black;
    color: aliceblue;
    border: 5px solid #cb6ce6;
    border-radius: 20px;
}

.login_header {
    text-align: center;
    font-family: Apple Chancery, cursive;
    font-size: 40px;
    letter-spacing: 1.5px;
    padding: 10px 0px;
    border-bottom: 5px solid #cb6ce6;
}

.login_body {
    margin-top: 120px;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_text {
    height: 40px;
    width: 75%;
    text-align: center;
    font-family: Blippo, fantasy;
    letter-spacing: 2px;
    font-weight: 600;
    color: black;
    font-size: 15px;
    /* -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none; */
}
.input_text:focus {
    border-color: rgba(203, 108, 230, 0.78);
    border-width: 2.5px;
    border-style: solid;
    outline: none !important;
}
.input_button {
    cursor: pointer;
    width: 60%;
    height: 50px;
    font-family: Blippo, fantasy;
    font-size: 20px;
    vertical-align: middle;
    letter-spacing: 2px;
    font-weight: 600;
    color: black;
}

.input_button:focus {
    background-color:rgba(203, 108, 230, 0.78);
    border: none;
    outline: none !important;
}

.register_component {
    font-family: DejaVu Sans Mono, monospace;
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}

.register_button {
    font-family: DejaVu Sans Mono, monospace;
    font-size: 18px;
    color: white;
}